<!DOCTYPE html>
{% load bootstrap4 %}
{% bootstrap_css %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Table Template</title>
  <style>
    table{
      width: 100%;
    }

    th{
      background-color: rgb(150, 150, 150);
    }

    th,td{
      text-align: center;
      padding: 10px;
      border-bottom: 1px solid rgb(153, 153, 153);
    }

    table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
    tr{
      background-color: #d6eeee;
    }

    .success{
      background-color: rgb(52, 189, 52);
    }

    .danger{
      background-color: rgb(202, 54, 35);
    }
  </style>
</head>
<body>
  <div class="px-5">
      {% if data %}
      <a class="btn btn-primary" href="/task/update/{{data.id}}/">Update task</a>
      {% else %}
      <a class="btn btn-primary" href="/task/create/">fill task</a>
      {% endif %}

      <a class="btn btn-warning float-right" href="/logout/"> logout </a>
  </div>


  <table>
    <thead>
      <tr>
        <th> User </th>
        <th>Yestday Task</th>
        <th>Today Plan</th>
        <th>Any Blocker</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
      <tr>
        <td>{{task.user.get_full_names}}</td>
        <td>{{task.today_update|linebreaks}}</td>
        <td>{{task.yesterday_update|linebreaks}}</td>
        <td>{{task.blocker|linebreaks}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
