{% extends 'base.html' %}
{% block content %}
{% load bootstrap4 %}
{% bootstrap_css %}
    {% if pk %}
    <form action="/task/update/{{pk}}/" method="post">
      {% else %}
      <form action="/task/create/dailyupdate/" method="post">
      {% endif %}

      {% csrf_token %}

      {% bootstrap_form form layout='horizontal' %}


      <div class="row">
             <div class="col-3">
             </div>
             <div class="col-6">
               {% bootstrap_button "submit" button_type="submit" button_class="btn-primary ms-60" %}
             </div>
           </div>

           <a class="btn btn-warning" href="/task/"> cancel </a>

    </form>

{% endblock %}
